*.ini
.env
__pycache__
*.pyc
uce_daily/data/results/*
uce_daily/data/mms/*
uce_daily/data/market/dam_idm_prices/*
uce_daily/data/market/unbalance_prices/*
uce_daily/data/limitations/*
uce_daily/data/enercast_real_data/*
uce_daily/data/green_tariff/*
uce_daily/data/operation_report/*
uce_daily/data/enercast_forecast/*
uce_daily/data/forecasts/*
*.DS_Store